.cards_container {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #fef9ef;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30em;
  /* border: 1px solid red; */
  margin-bottom: 2em;
  padding: 1em;
  background-color: #227c9d;
  box-shadow: 0px 5px 15px 4px grey;
  transition: transform 0.15s;
}

.card:hover {
    transform: scaleX(1.05) scaleY(1.05);
    cursor: pointer;
}

.card img {
  width: 100%;
  height: 20em;
  display: flex;
}

.card_content {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 0.3em;
  background-color: #227c9d;
  color: #fef9ef;
  line-height: 1.6em;
  /* border: 1px solid red; */
}

.card_content h4 {
  letter-spacing: 0.07em;
  font-size: 1.1em;
  font-weight: bolder;
}

@media screen and (max-width: 1024px) {
  .cards_container {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .wrapper {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .card {
    width: 45vw;
    margin-bottom: 2em;
    padding: 0.5em;
    /* border: 1px solid red; */
  }

  .card img {
    width: 100%;
    height: 30vw;
    display: flex;
  }

  .card_content {
    padding-left: 2vw;
    line-height: 2.2vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
  }

  .card_content h4 {
    font-size: 1.8vw;
    font-weight: bolder;
  }

  .card_content p {
    font-size: 1.4vw;
  }
}
