@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

.chatbot_container {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.chatbot_container iframe {
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    border-radius: 20px;
}

.close i {
    background-color: #3F7EE8;
    color: white;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
    transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}

.close i:hover {
    background-color: #fef9ef;
    color: #3F7EE8;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px #fe6d73);
}

df-messenger {
    background-color: #3F7EE8;
}