.header_container {
    width: 100%;
    border: 1px solid red;
    height: 5em;
    display: flex;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    
}

.logo {

}

.navbar {
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}