.banner_container {
    background-image: url('../../images/blurry-gradient-haikei.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.wrapper {
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.wrapper h1 {
    padding: 2.7em 0em;
    font-size: 4em;
    line-height: 1.4em;
    color: #FEF9EF;
}

.searchbox input {
    width: 25em;
}

.searchbox button {
    width: 10em;
    background-color: #227C9D;
    color: #FEF9EF;
    cursor: pointer;
}

.searchbox input, button {
    border: none;
    padding: 1em;
    font-size: 1.3em;
}

.searchbox {
    /* border: 1px solid red; */
    padding-top: 2em;
    text-align: center;
}